.Pager span
{
    text-align: center;
    color: #999;
    display: inline-block;
    width: 20px;
    background-color: #A1DCF2;
    margin-right: 3px;
    line-height: 150%;
    border: 1px solid #3AC0F2;
}
.Pager a
{
    text-align: center;
    display: inline-block;
    width: 20px;
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #337ab7;
    margin-right: 3px;
    line-height: 150%;
    text-decoration: none;
}